
@{
    ViewBag.Title = "NutricionFalta";
}
<br /><br />
      <div class="col-sm-offset-2 text-center" style="height:70%">
          <h2>No ha seleccionado ningun producto</h2><br />
          @Html.ActionLink("Ir al catalogo", "Index", null, new { @class = "btn btn-warning btn-lg" })
      </div>


